@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  background:#000;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  inset:0;
  background:
    radial-gradient(circle at 50% 10%, rgba(168,85,247,.35), transparent 30%),
    radial-gradient(circle at 20% 80%, rgba(59,130,246,.15), transparent 30%);
  z-index:-1;
}
/* Mouse Glow */
.cursor-glow{
  position:fixed;
  width:250px;
  height:250px;
  border-radius:50%;
  background:radial-gradient(circle, rgba(168,85,247,.25), transparent 70%);
  pointer-events:none;
  z-index:0;
  transform:translate(-50%,-50%);
}